<% provide(:title, 'タスク詳細') %>
<% provide(:button_text, '変更を保存') %>
<h1>タスク詳細</h1>

<%= render 'form' %>
<%= button_to "タスク削除", task_path(@task), method: :delete, data: { confirm: "本当に削除しますか" }, class: "btn btn-seocndry" %>